<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <form>
      <mat-form-field>
          <input
              matInput
              placeholder="Nome"
              [(ngModel)]="product.name"
              name= "name"
              disabled
              >
      </mat-form-field>
      <mat-form-field>
          <input
              matInput
              placeholder="Preço"
              [(ngModel)]="product.price"
              name = "price"
              type="number"
              disabled
          >
      </mat-form-field>
      <mat-form-field>
        <input
            matInput
            placeholder="Descrição"
            [(ngModel)]="product.description"
            name= "descripiton"
            disabled
            >
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteProductPerId()" color="warn">
      Deletar
  </button>
  <button mat-raised-button (click)="cancel()" color="primary">
      Cancelar
  </button>
</mat-card>
